.libCnt {
  display: flex;
}

.libCnt .page {
  padding: 1.5rem 3.8rem;
  display: flex;
  flex-direction: column;
}

/* Styles for user account section */
.page .userDet {
  color: #ffffff90;
  padding-bottom: 2rem;
  display: flex;
}

.userDet .logoCnt {
  width: 120px;
  height: 120px;
}

.logoCnt img {
  object-fit: cover;
  border-radius: 50%;
}

.userDet .det {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.det .name {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 600;
}

.det a {
  font-size: 0.85rem;
  width: max-content;
  padding: 0.5rem;
  border-radius: 40px;
  background-color: #ffffff20;
}

/* Styles for likes section */
.likesCnt {
  width: 82vw;
  height: 268px;
  padding: 1.25rem 0;
  border-bottom: 1px solid rgba(114, 114, 114, 0.425);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.likesCnt .heading {
  font-size: 1.2rem;
  color: #cfcfcf;
  display: flex;
  gap: 10px;
}

.heading .txt {
  color: #fff;
  font-weight: 600;
}

.heading svg {
  font-size: 1.4rem;
}

.likesCnt .likedVidCnt {
  overflow: auto;
  display: flex;
  gap: 15px;
}

.likesCnt .likedVidCnt::-webkit-scrollbar {
  height: 0px;
}

/* Styles for siign in  */
.signInCnt {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signIn {
  width: 100px;
  height: 36px;
  color: #3ea6ff;
  border: 1px solid rgba(128, 128, 128, 0.662);
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.signInCnt svg {
  font-size: 6rem;
}

.signIn:hover {
  background-color: #3ea5ff45;
}

.signInCnt .signIn svg {
  font-size: 1.2rem;
}

/* mobile responsiveness - 440px */
@media screen and (max-width: 440px) {
  .libCnt {
    flex-direction: column-reverse;
  }

  .libCnt .page {
    padding: 1.5rem 1rem;
    min-height: 87vh;
  }

  .userDet .logoCnt {
    width: 80px;
    height: 80px;
  }

  .userDet .det{
    width: max-content;
  }

  .det .name{
    font-size: 1.4rem;
  }

  .logoCnt img {
    width: 80px;
    height: 80px;
  }

  .likesCnt {
    width: 100%;
  }
}
