.feedCnt {
  display: flex;
}

/* Styles for category section */
.catCnt {
  padding: 0 1.5rem;
  background-color: #0f0f0f;
  position: sticky;
  top: 56px;
  display: flex;
}

.catCnt .cat {
  font-size: 0.85rem;
  font-weight: 600;
  height: 32px;
  padding: 0 12px;
  margin: 12px 12px 12px 0;
  background-color: #ffffff20;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.catCnt .catAct {
  color: #000;
  background-color: #fffffff3;
}

/* Videos container */
.videosCnt {
  height: 100%;
  padding: 0 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
