.feedCnt {
  display: flex;
}

/* Styles for category section */
.catCnt {
  padding: 0 1.5rem;
  background-color: #0f0f0f;
  position: sticky;
  top: 56px;
  display: flex;
}

.catCnt .cat {
  font-size: 0.85rem;
  font-weight: 600;
  height: 32px;
  padding: 0 12px;
  margin: 12px 12px 12px 0;
  background-color: #ffffff20;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.catCnt .catAct {
  color: #000;
  background-color: #fffffff3;
}

/* Videos container */
.videosCnt {
  height: 100%;
  padding: 0 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


/* Custom location Loader */
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100vw;
}

/* Mobile responsivenes - 440px */
@media screen and (max-width: 440px) {
  .feedCnt {
    flex-direction: column-reverse;
  }

  .videosCnt {
    min-height: 80vh;
  }
}

/* Mobile responsiveness - 400px */
@media screen and (max-width: 400px) {
  .videosCnt {
    padding: 0;
  }
}
