.mainCnt {
  display: flex;
}

.mainCnt .channel {
  width: 70vw;
  padding-bottom: 0.5rem;
  margin-top: 1.5rem;
  margin-left: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Channel logo */
.channel .avatarSec {
  width: 360px;
  margin-right: 1rem;
  height: 136px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.channel .avatarSec img {
  object-fit: cover;
  border-radius: 50%;
}

/* Channel details */
.det .channelName {
  font-size: 1.2rem;
}

.det .subCount {
  font-size: 0.85rem;
  color: rgb(147, 147, 147);
}

/* Mobile responsiveness - 440px */
@media screen and (max-width: 440px) {
  .mainCnt {
    flex-direction: column-reverse;
  }

  .mainCnt .allChannels{
    min-height: 87vh;
  }

  .mainCnt .channel {
    width: max-content;
    margin-left: 20px;
    margin-top: 10px;
  }

  .channel .avatarSec {
    width: max-content;
    height: 80px;
  }

  .channel .avatarSec img {
    width: 60px;
    height: 60px;
  }

  .channel .det {
    width: 100%;
  }

  .det .channelName {
    font-size: 1rem;
  }
}
