.mainCnt {
  width: 100%;
  display: flex;
}

.mainCnt .resultsCnt {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
}

.loader {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for videos section */
.mainCnt .videosCnt {
  display: flex;
  flex-direction: column;
}

/* Styles for channels section */
.channelsCnt {
  width: 100%;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.channelsCnt .channel {
  display: flex;
  align-items: center;
}

.channel .imgCnt {
  width: 360px;
  height: 136px;
  display: flex;
  justify-content: center;
}

.channel .imgCnt img {
  object-fit: cover;
  border-radius: 50%;
}

.channel .info {
  display: flex;
  flex-direction: column;
}

.channel .info .channelName {
  font-size: 1.2rem;
}

.channel .info .subCount {
  color: #ffffff80;
  font-size: 0.75rem;
}

/* Utills */
.bdBtm {
  min-width: 85vw;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.409);
}

/* Mobile responsiveness - 440px */
@media screen and (max-width: 440px) {
  .mainCnt {
    flex-direction: column-reverse;
  }

  .mainCnt .resultsCnt {
    min-height: 87vh;
    padding: 0;
  }

  .channel .imgCnt {
    width: max-content;
    padding: 0 1rem;
    height: 80px;
  }

  .channel .imgCnt img {
    width: 80px;
    height: 80px;
  }

  .mainCnt .videosCnt {
    align-items: center;
    gap: 30px;
  }
}
