/* subscribe button */
.subBtn {
  color: #000;
  font-size: 0.85rem;
  font-weight: 600;
  width: 96px;
  height: 34px;
  background-color: #f1f1f1;
  border-radius: 40px;
  padding: 0 0.8rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribed {
  width: max-content;
  color: #fff;
  background-color: rgba(128, 128, 128, 0.233);
  gap: 10px;
}

/* utills */
.mt {
  margin-top: 40px;
}

.ml {
  margin-left: 40px;
}

/* Mobile responsiveness - 440px */
@media screen and (max-width: 440px) {
  .subBtn{
    width: max-content;
  }
  
  /* Utills */
  .mt {
    margin-top: 20px;
  }

  .ml {
    margin-left: 20px;
  }
}
