.userMenuModalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
}

/* Styles for upload menu modal */
.uploadModal {
  position: absolute;
  top: 50px;
  right: 20px;

  padding: 0.5rem 0;
  border-radius: 10px;
  background-color: #282828;
  display: flex;
  flex-direction: column;
}

/* Styles for menu items */
.menuItem {
  padding: 0.6rem 1rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 20px;
}

.menuItem:hover {
  background-color: rgb(67, 67, 67);
}

.menuItem svg {
  width: 22px;
  height: 22px;
}

/* Styles for more modal */
.userMenuModalOverlay .moreModal {
  left: 40%;
  top: 20%;
  min-width: 250px;
  width: max-content;
  height: 300px;
}

/* styles for user menu modal */
.userMenuModalOverlay .userMenuModal {
  top: 10px;
  right: 70px;
  width: 300px;
  padding: 0;
}

/* Styles for heading */
.userMenuModal .heading {
  padding: 1rem;
  display: flex;
  gap: 20px;
}

.heading .userDet {
  display: flex;
  flex-direction: column;
}

.heading .imgCnt {
  width: 40px;
  height: 40px;
}

.heading .imgCnt img {
  border-radius: 50%;
  object-fit: cover;
}

.userDet a {
  color: rgb(62, 166, 255);
  margin-top: 5px;
}

.userDet a:hover {
  color: rgb(62, 166, 255);
}

.userMenuModal .itemSec {
  padding: 0.5rem 0;
  border-top: 1px solid rgba(128, 128, 128, 0.441);
}

/* Mobile responsiveness - 440px */
@media screen and (max-width: 440px) {
  .userMenuModalOverlay .moreModal {
    right: 10%;
    min-width: max-content;
    height: 200px;
  }
}
