.detCnt {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 1.5rem 0;
}

.detCnt .videoCnt {
  width: 668px;
}

.videoDetails .title {
  font-size: 1.2rem;
  font-weight: 600;
}

.ctaCnt {
  height: 48px;
  max-width: 668px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.ctaCnt .channel {
  display: flex;
  /* align-items: center; */
}

.ctaCnt .channel .imgCnt {
  width: 52px;
}

.imgCnt img {
  object-fit: cover;
  border-radius: 50%;
}

.subCount {
  font-size: 0.8rem;
  color: grey;
}

.subBtn {
  color: #000;
  font-size: 0.85rem;
  font-weight: 600;
  width: 96px;
  height: 34px;
  background-color: #f1f1f1;
  border-radius: 40px;
  margin-left: 40px;
  padding: 0 0.8rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribed {
  width: max-content;
  color: #fff;
  background-color: rgba(128, 128, 128, 0.233);
  gap: 10px;
}

.likes {
  height: 36px;
  min-width: 80px;
  border-radius: 40px;
  background-color: #ffffff3b;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.likes svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.videoDetails .descriptionCnt {
  width: 656px;
  max-width: 646px;
  min-height: 104px;
  background-color: #ffffff1d;
  padding: 0.8rem;
  border-radius: 12px;
  margin: 12px 12px 0 0;
}

/* Styles for similar videos */
.similarVideos {
  width: 402px;
  padding: 0 1.5rem 0 0;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Mobile responsiveness - 440px */
@media screen and (max-width: 440px) {
  .detCnt {
    flex-direction: column;
  }

  .detCnt .videoCnt {
    width: 100%;
  }

  .videoDetails .title {
    font-size: 1rem;
  }

  .ctaCnt .channel .imgCnt {
    width: 34px;
  }

  .ctaCnt .channel .chaDet {
    margin-left: 10px;
  }

  .imgCnt img {
    width: 34px;
    height: 34px;
  }

  .videoCnt .videoDetails {
    padding: 1rem;
  }

  .videoDetails .descriptionCnt {
    min-height: 40px;
    max-height: 100px;
    width: 85vw;
    overflow: auto;
    text-overflow: ellipsis;
  }

  .videoDetails .descriptionCnt::-webkit-scrollbar{
    width: 0;
  }

  .similarVideos {
    padding: 0;
    align-items: center;
    gap: 30px;
  }
}

/* Mobile responsiveness - 400px */
@media screen and (max-width: 400px) {
  .similarVideos {
    width: 100%;
  }
}
