.video {
  width: 370px;
}

.video .imgCnt {
  width: 370px;
  height: 209px;
}

.imgCnt img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 12px;
  background-color: #ffffff37;
}

.vidInfoCnt {
  padding-top: 10px;
  display: flex;
  gap: 12px;
}

.vidInfoCnt .logoCnt {
  width: 35px;
  height: 35px;
  padding-top: 2px;
}

.logoCnt img {
  object-fit: cover;
  border-radius: 50%;
}

.videoInfo .title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
  display: flex;
  gap: 12px;
}

.videoInfo .title svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 40px;
}

.videoInfo .title svg:hover {
  background-color: #ffffff20;
}

.videoInfo .channel {
  font-size: 0.85rem;
  color: rgb(181, 181, 181);
}

.videoInfo .views {
  font-size: 1rem;
  color: rgb(181, 181, 181);
}

/* Similar videos section */
.simVid {
  display: flex;
  gap: 8px;
}

.simVid .imgCnt {
  min-width: 200px;
  height: 100px;
}

.simVid .imgCnt img {
  width: 200px;
  height: 100px;
}

.simVid .vidInfoCnt {
  padding: 0;
}

.simVid .vidInfoCnt .videoInfo {
  width: 250px;
}

.simVid .videoInfo .title {
  font-size: 1rem;
}

.simVid .videoInfo .channel {
  font-size: 0.8rem;
}

.videoInfo .channel svg {
  font-size: 1rem;
}

.simVid .videoInfo .views {
  font-size: 0.8rem;
}

/* Styles for Channel videos */
.chaVid {
  width: 250px;
}

.chaVid .imgCnt {
  width: 250px;
  height: 140px;
}

.chaVid .imgCnt img {
  width: 250px;
  height: 140px;
}

.chaVid .vidInfoCnt .videoInfo {
  width: 250px;
}

.chaVid .vidInfoCnt .title {
  font-size: 0.8rem;
}

.chaVid .videoInfo .channel {
  font-size: 0.75rem;
}

/* Styles for search results */
.search {
  width: 100%;
  display: flex;
}

.search .imgCnt {
  width: 360px;
  height: 202px;
  padding-top: 0.75rem;
  padding-right: 0.75rem;
}

.search .imgCnt img {
  width: 360px;
  height: 202px;
}

.search .vidInfoCnt {
  width: 720px;
  padding-top: 0.78rem;
}

.search .videoInfo .title {
  justify-content: space-between;
  margin-bottom: 0;
}

.search .searchChannel {
  height: 26px;
  margin: 0.75rem 0;
  display: flex;
  align-items: center;
}

.search .searchChannel .logoCnt {
  height: 25px;
}

.search .searchChannel .channel {
  font-size: 0.75rem;
}

.search .vidDesc {
  font-size: 0.75rem;
  color: #aaa;
}
